<div *ngIf="showAddButton" class="container d-flex justify-content-center">
  <button class="btn btn-dark w-25 m-5" (click)="addProduct()">
    Add Products <i class="fa-solid fa-cart-plus"></i>
  </button>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let product of productList">
      <div class="card">
        <img class="card-img-top" [src]="product.productPhotoUrl" alt="{{ product.productName }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">Price: {{ product.price | currency : "INR" }}</p>
         <div *ngIf="productRatings">
        <p>Ratings: {{productRatings.data[product.id] || '0'}}</p></div>
          <!-- Disable Add to Cart button if product is out of stock -->
          <button 
            class="btn btn-secondary" 
            [disabled]="product.quantity === 0" 
            (click)="addToCart(product.id)">
            Add to Cart <i class="fa-solid fa-shopping-cart" ></i>
          </button>
          <span *ngIf="product.quantity === 0" class="text-danger">Out of Stock</span>
        </div>
      </div>
    </div>
  </div>
</div>
