<div class="d-flex justify-content-start mr-3 mt-3" (click)="navigateToDashboard()">
    <button class="btn btn-light">
      <i class="fa fa-arrow-left mr-2"></i> Back to Dashboard
    </button>
  </div>
<div class="container d-flex justify-content-center">
    <h3 class="mt-5 mb-4 content">Customers Order List</h3>
  </div>
  <div class="container">
    <table class="table table table-bordered text-center">
      <thead class="table-secondary">
        <tr>
          <th>Order Number</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody >
        <!-- <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.totalPrice | currency : "INR" }}</td>
          <td>{{ order.status }}</td> -->
          <!-- <td>
            <button class="btn btn-primary" (click)="viewMyOrder(order)">
              Go to Orders
            </button>
          </td> -->
        <!-- </tr> -->
      </tbody>
    </table>
    <div class="d-flex justify-content-center"></div>
  </div>